<div class="page cite-page">

    <div class="content">
        <div class="loading"
             ng-show="apiResp=='loading'">
            <span class="label">Finding metrics &hellip;</span>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>


        <div class="citation animated fadeIn" ng-show="apiResp.doi">
            <h1>{{ apiResp.crossref_metadata.title }}</h1>
            <div class="metadata">
                <div class="first-row">
                    <span class="author" ng-repeat="author in apiResp.crossref_metadata.author">
                        {{ author.family }}
                    </span>
                </div>
                <div class="second-row">
                    <span class="year">{{ apiResp.oadoi.year }}</span>
                    <span class="journal">{{ apiResp.crossref_metadata["container-title"] }}</span>
                    <a href="https://doi.org/{{ apiResp.doi }}" class="linkout">(view)</a>
                </div>
                <div class="third-row" ng-show="apiResp.oadoi.is_oa">

                    <!-- Green OA -->
                    <a href="{{ apiResp.oadoi.best_oa_location.url }}"  ng-show="apiResp.oadoi.best_oa_location.host_type=='repository'">
                        <i class="fa fa-unlock-alt"></i>
                        <span class="text">
                            <span class="oa">Open Access</span>
                            version available
                        </span>
                    </a>

                    <!-- Gold/bronze OA -->
                    <a href="{{ apiResp.oadoi.best_oa_location.url }}" ng-show="apiResp.oadoi.best_oa_location.host_type=='publisher'">
                        <i class="fa fa-unlock-alt"></i>
                        <span class="text">
                            <span class="oa">Open Access</span>
                            via the publisher
                        </span>
                    </a>
                </div>

            </div>
            <div class="sources">
                <div class="source" ng-repeat="source in apiResp.altmetrics_sources">
                    <span class="name">{{ source.source_id }}: </span>
                    <span class="count">{{ source.events_count }}</span>
                </div>


            </div>

            <div class="item-footer">
                <a href="{{ apiUrl }}">
                    <i class="fa fa-cogs"></i>
                    View in API
                </a>
            </div>

        </div>



    </div>

</div>