<div class="page cite-page">

    <div class="content">
        <div class="loading"
             ng-show="apiResp=='loading'">
            <span class="label">Finding metrics &hellip;</span>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>


        <div class="citation animated fadeIn" ng-show="apiResp.doi">
            <h1>{{ apiResp.metadata.title }}</h1>
            <div class="metadata">
                <div class="first-row">
                    <span class="year">{{ publicationYear }}</span>
                    <span class="author" ng-repeat="author in apiResp.metadata.author">
                        {{ author.family }}</span>.
                    <span class="journal">{{ apiResp.metadata["container-title"] }}</span>
                    <a href="https://doi.org/{{ apiResp.doi }}" class="linkout">(view)</a>
                </div>
                <div class="second-row">
                    <md-button class="md-raised"
                               href="{{ apiResp.open_access.best_oa_location.url }}"
                               ng-show="apiResp.open_access.is_oa"
                               target="_blank">
                        <i class="fa fa-unlock-alt"></i>
                        Read paper
                    </md-button>
                    <md-button class="md-raised" href="" ng-click="getAlerts()">
                        <i class="fa fa-envelope-o"></i>
                        Get alerts
                    </md-button>
                    <md-button class="md-raised" href="{{ apiUrl }}" target="_blank">
                        <i class="fa fa-cogs"></i>
                        View in API
                    </md-button>

                </div>
                <div class="old-article warning" ng-show="publicationYear < 2017">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span class="explanation">
                        Paperbuzz data is currently less complete for articles published
                        before 2017.
                    </span>
                </div>

            </div>
            <div class="metrics">
                <div class="sources">
                    <h3>Filter by source</h3>
                    <div class="source selected-{{ p.selectedSource && p.selectedSource == source }}" ng-repeat="source in apiResp.altmetrics.sources"
                            ng-click="selectSource(source)">
                        <span class="name">{{ source.source_id }}: </span>
                        <span class="count">{{ source.events_count }}</span>
                    </div>
                </div>


                <div class="events">
                    <h2>
                        <span class="val">{{ filteredSources.length }}</span> events
                    </h2>
                    <div class="filter-info">
                        <div class="state no-filter" ng-show="!p.selectedSource">
                            <span class="current">
                                Showing all events.
                            </span>
                        </div>

                        <div class="state filter" ng-show="p.selectedSource">
                            <span class="current">
                                Showing only <span class="source">{{ p.selectedSource.source_id }}</span> events.
                            </span>
                            <span class="remove" ng-click="p.selectedSource=null">

                                (remove filter)
                            </span>

                        </div>


                    </div>

                    <div class="event" ng-repeat="event in events | orderBy: '-occurred_at' | filter: {source_id: p.selectedSource.source_id} as filteredSources">



                        <div class="first-row unpaywall" ng-if="event.source_id=='unpaywall_views'">
                            <span class="icon"><i class="fa fa-eye"></i></span>
                            <span class="verb">Viewed</span>
                            by a
                            <span class="uni" ng-show="event.is_college_location">university</span>
                            <span class="non-uni" ng-show="!event.is_college_location">non-university</span>
                            Unpaywall user in
                            <span class="country">{{ event.country }}</span>.
                        </div>

                        <div class="first-row twitter" ng-if="event.source_id=='twitter'">
                            <span class="icon"><i class="fa fa-twitter"></i></span>
                            <span class="verb">Mentioned</span> in
                            <a class="verb" href="{{ event.url }}" target="_blank">a tweet</a>
                            by
                            <a href="{{ event.author }}" target="_blank">@{{ extractTwitterName(event.author) }}.</a>
                        </div>

                        <div class="first-row web" ng-if="event.source_id=='web'">
                            <span class="icon"><i class="fa fa-table"></i></span>
                            <span class="verb">Mentioned</span> on
                            <a class="verb" href="{{ event.url }}" target="_blank">a webpage.</a>
                        </div>


                        <div class="first-row datacite" ng-if="event.source_id=='datacite'">
                            <span class="icon"><i class="fa fa-spreadsheet"></i></span>
                            <span class="verb">Associated</span> with
                            <a class="verb" href="{{ event.url }}" target="_blank">a DataCite resource.</a>
                        </div>


                        <div class="first-row wikipedia" ng-if="event.source_id=='wikipedia'">
                            <span class="icon"><i class="fa fa-wikipedia-w"></i></span>
                            <span class="verb">Cited</span> in
                            <a class="verb" href="{{ event.url }}" target="_blank">a Wikipedia page.</a>
                        </div>


                        <div class="first-row wordpressdotcom" ng-if="event.source_id=='wordpressdotcom'">
                            <span class="icon"><i class="fa fa-wordpress"></i></span>
                            <span class="verb">Mentioned</span> in
                            <a class="verb" href="{{ event.url }}" target="_blank">a Wordpress.com blog post.</a>
                        </div>


                        <div class="first-row reddit" ng-if="event.source_id=='reddit'">
                            <span class="icon"><i class="fa fa-reddit"></i></span>
                            <span class="verb">Mentioned</span> in
                            <a href="{{ event.url }}">a Reddit post</a>
                            on the subreddit
                            <a href="https://www.reddit.com/r/{{ extractSubreddit(event.url) }}">"{{ extractSubreddit(event.url) }}."</a>
                        </div>





                        <div class="second-row">
                            <span class="date">{{ event.occurred_ago }}</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>



    </div>

</div>