<div class="page hot">
    <div class="content">
        <div class="header">
            <h1>Buzzing this week</h1>

            <div class="issue">
                <span class="week">Week {{ issue.week }},</span>
                <span class="year">{{ issue.year }}</span>
            </div>
            <div class="controls">



                <!--

                <div layout="row" layout-align="space-between center">
                    <span>What is your favorite weapon?</span>
                    <md-select ng-model="u.topic" placeholder="Filter by topic" class="md-no-underline">
                        <md-option value="{{ topic }}" ng-repeat="topic in topics">topic</md-option>
                    </md-select>
                </div>
                -->



                <!-- Topic filter -->
                <md-menu class="topic-menu">
                    <md-button class="other-topics" ng-click="openMenu($mdOpenMenu, $event)">
                        Topic:
                        <span class="active topic-option {{ makeUrlSafe(userFilters.topic) }}" ng-show="userFilters.topic">{{ userFilters.topic }}</span>
                        <span class="active topic-option" ng-show="!userFilters.topic">everything</span>
                    </md-button>

                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="setFilter('topic', null)">
                                <div class="option">
                                    <i class="fa fa-circle-o"></i>
                                    Everything
                                </div>
                            </md-button>
                        </md-menu-item>

                        <md-menu-item ng-repeat="topic in topics">
                            <md-button ng-click="setFilter('topic', topic)" class="topic-option {{ makeUrlSafe(topic) }}">
                                <div class="option">
                                    <i class="fa fa-circle"></i>
                                    {{ topic }}
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>



                <!-- Audience filter -->
                <md-menu>
                    <md-button class="other-topics" ng-click="openMenu($mdOpenMenu, $event)">
                        Audience:
                        <span class="active" ng-show="userFilters.audience">
                            <i class="fa fa-home"></i>
                            mostly non-academic
                        </span>
                        <span class="active" ng-show="!userFilters.audience">everyone</span>
                    </md-button>

                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="setFilter('audience', null)">
                                <div class="option">
                                    <i class="fa fa-circle-o"></i>
                                    everyone
                                </div>
                            </md-button>
                        </md-menu-item>

                        <md-menu-item>
                            <md-button ng-click="setFilter('audience', 'public')">
                                <div class="option">
                                    <i class="fa fa-home"></i>
                                    mostly non-academic
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>


                <!-- Audience filter -->
                <md-menu>
                    <md-button class="other-topics" ng-click="openMenu($mdOpenMenu, $event)">
                        Availability:
                        <span class="active" ng-show="userFilters.open">
                            <i class="fa fa-unlock-alt"></i>
                            Open Access only
                        </span>
                        <span class="active" ng-show="!userFilters.open">any</span>
                    </md-button>

                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="setFilter('open', null)">
                                <div class="option">
                                    <i class="fa fa-circle-o"></i>
                                    any
                                </div>
                            </md-button>
                        </md-menu-item>

                        <md-menu-item>
                            <md-button ng-click="setFilter('open', 'true')">
                                <div class="option">
                                    <i class="fa fa-unlock-alt"></i>
                                    Open Access only
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <div class="spacer"></div>


                <md-button class="subscribe-button md-primary" ng-click="subscribe()">
                        <i class="fa fa-envelope-o"></i>
                        Subscribe
                </md-button>

            </div>
        </div>


        <div class="main">

            <div class="results">
                <div class="card {{ makeUrlSafe(paper.filters.topic) }}" ng-repeat="paper in papers | orderBy: '-sort_score' | filter: paperFilter as filteredPapers">
                    <div class="card-header">
                        <span class="sort-score">
                            <img src="static/img/paperbuzz-icon-sm.png" alt="">
                            <span class="num">
                                {{ paper.sort_score }}
                            </span>
                        </span>
                        <span class="filters-by-name">
                            <span class="topic filter {{ makeUrlSafe(paper.filters.topic) }}">
                                {{ paper.filters.topic }}
                            </span>
                            <span class="open filter" ng-show="paper.filters.open">
                                <i class="fa fa-unlock-alt"></i>
                            </span>
                            <span class="academic filter" ng-show="paper.filters.audience=='academic'">
                                <i class="fa fa-university"></i>
                            </span>
                            <span class="public filter" ng-show="paper.filters.audience=='public'">
                                <i class="fa fa-home"></i>
                            </span>
                        </span>
                    </div>

                    <div class="card-content">
                        <div class="photo">
                            <img src="{{ paper.photo }}" alt="">
                        </div>
                        <div class="first-row">
                            <span class="title">{{ paper.metadata.title }}</span>
                        </div>
                        <div class="second-row">
                            <span class="author" ng-repeat="author in paper.metadata.journal_authors | limitTo: 8">
                                <span class="has-orcid-false" ng-show="!author.ORCID">
                                    {{ author.family }}<span class="comma" ng-show="!$last">,</span>
                                </span>
                                <a class="has-orcid-true" href="{{ author.ORCID }}" ng-show="author.ORCID">
                                    {{ author.family }}<span class="comma" ng-show="!$last">,</span>
                                </a>
                            </span>
                            <span class="author et-al" ng-show="paper.metadata.journal_authors.length > 8">
                                <span class="has-orcid-false">
                                     et al.
                                </span>
                            </span>
                        </div>
                        <div class="third-row">
                            <span class="journal">
                                {{ paper.metadata.journal_name }}
                            </span>
                        </div>
                        <div class="abstract">
                            {{ paper.metadata.abstract | limitTo: 250 }}
                            <span class="dots" ng-show="paper.metadata.abstract.length > 400">&hellip;</span>
                        </div>

                    </div>

                    <div class="card-footer">
                        <div class="buttons">
                            <md-button class="md-raised md-primary"
                                       target="_blank"
                                       href="{{ paper.open_access.best_oa_location.url }}"
                                       ng-show="paper.filters.open">
                                <i class="fa fa-unlock-alt"></i>
                                Read
                            </md-button>
                            <md-button class="md-raised"
                                       target="_blank"
                                       href="http://doi.org/{{ paper.doi }}"
                                       ng-show="!paper.filters.open">
                                <i class="fa fa-lock"></i>
                                View
                            </md-button>
                            <md-button class="md-raised" href="https://twitter.com/intent/tweet?url=https://doi.org/{{ paper.doi }}&text={{ paper.metadata.title }}">
                                <i class="fa fa-twitter"></i>
                                Share
                            </md-button>
                        </div>
                        <div class="bottom-row">
                            <span class="score-details">
                                <a href="details/{{ paper.doi }}" class="">
                                    <img src="static/img/paperbuzz-icon-sm.png" alt="">
                                    score details
                                </a>
                            </span>
                            <div class="spacer"></div>
                            <a href="http://doi.org/{{ paper.doi }}">{{ paper.doi }}</a>
                        </div>



                    </div>


                </div>




            </div>

        </div>
    </div>
</div>
