<div class="page hot">
    <div class="content">
        <div class="header">
            <h1>Most buzzworthy papers</h1>
            <div class="issue">
                <span class="year">{{ issue.year }},</span>
                <span class="week">week {{ issue.week }}</span>
            </div>
            <div class="controls">

                <div class="topics">


                    <!--

                    <div layout="row" layout-align="space-between center">
                        <span>What is your favorite weapon?</span>
                        <md-select ng-model="u.topic" placeholder="Filter by topic" class="md-no-underline">
                            <md-option value="{{ topic }}" ng-repeat="topic in topics">topic</md-option>
                        </md-select>
                    </div>
                    -->




                    <md-menu>
                        <md-button class="other-topics" ng-click="openMenu($mdOpenMenu, $event)">
                            Topic:
                            <span class="active" ng-show="userFilters.topic">{{ userFilters.topic }}</span>
                            <span class="active" ng-show="!userFilters.topic">everything</span>
                        </md-button>

                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="setFilter('topic', null)">
                                    Everything
                                </md-button>
                            </md-menu-item>
                            
                            <md-menu-item ng-repeat="topic in topics">
                                <md-button ng-click="setFilter('topic', topic)">
                                    {{ topic }}
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>


                </div>
            </div>
        </div>


        <div class="main">

            <div class="results">
                <div class="card" ng-repeat="paper in papers | orderBy: '-sort_score' | filter: paperFilter as filteredPapers">
                    <div class="filters">
                        <span class="sort-score">
                            {{ paper.sort_score }}
                        </span>
                        <span class="filters-by-name">
                            <span class="topic filter">
                                {{ paper.filters.topic }}
                            </span>
                            <span class="open filter" ng-show="paper.filters.open">
                                <i class="fa fa-unlock-alt"></i>
                            </span>
                            <span class="academic filter" ng-show="paper.filters.audience=='academic'">
                                <i class="fa fa-university"></i>
                            </span>
                            <span class="public filter" ng-show="paper.filters.audience=='public'">
                                <i class="fa fa-home"></i>
                                <span class="ratio">
                                    {{ paper.filters.public_percent }}%
                                </span>
                            </span>
                        </span>
                    </div>

                    <div class="card-content">
                        <div class="first-row">
                            <span class="title">{{ paper.metadata.title }}</span>
                        </div>
                        <div class="second-row">
                            <span class="author" ng-repeat="author in paper.metadata.journal_authors">
                                <span class="has-orcid-false" ng-show="!author.ORCID">
                                    {{ author.family }}<span class="comma" ng-show="!$last">,</span>
                                </span>
                                <a class="has-orcid-true" href="{{ author.ORCID }}" ng-show="author.ORCID">
                                    {{ author.family }}<span class="comma" ng-show="!$last">,</span>
                                </a>
                            </span>
                        </div>
                        <div class="third-row">
                            <span class="journal">
                                {{ paper.metadata.journal_name }}
                            </span>
                        </div>
                        <div class="abstract">
                            {{ paper.metadata.abstract | limitTo: 400 }}
                            <span class="dots" ng-show="paper.metadata.abstract.length > 400">&hellip;</span>
                        </div>
                        <div class="card-footer">
                            <a href="http://doi.org/{{ paper.doi }}">{{ paper.doi }}</a>
                        </div>

                    </div>


                </div>




            </div>

        </div>
    </div>
</div>
