<div class="page search">
    <div class="top-screen">
        <div class="content">
            <div class="tagline">
                <h1>Find a specific article</h1>
                <p class="subtagline">
                    Paste a DOI to track its online buzz. (Currently results are
                    incomplete for articles published before 2017).
                </p>
            </div>


            <div class="user-input">
                <div class="input-row">
                    <md-input-container md-no-float
                                        class="md-block example-selected-{{ main.exampleSelected }}"
                                        flex-gt-sm="">
                        <label>Paste a DOI here</label>
                        <input ng-model="main.id">

                        <md-button ng-show="main.id"
                                   ng-click="submit()"
                                   ng-class="{fadeOut: !main.id}"
                                   class="md-fab md-mini md-primary go animated fadeInRightBig">
                            <i class="fa fa-arrow-right"></i>
                        </md-button>

                        <!--
                        <md-button class="md-raised md-primary submit" type="submit">
                            Get the citation
                        </md-button>
                        -->
                    </md-input-container>
                </div>
            </div>

        </div>




    </div>

</div>
